{% extends 'base.html.twig' %}

{% block title %}About Us - Bucket List{% endblock %}

{% block body %}
    <main>
        <h1>About Us</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque commodi consequuntur, delectus
            dignissimos esse ex excepturi facere fuga incidunt ipsa ipsam ipsum iste iure magnam molestias
            necessitatibus, nisi non odit, praesentium provident quia quisquam sed sit voluptatum? Aliquam debitis dicta
            ducimus hic iusto laudantium, quod ratione rerum sequi vel?
        </p>
    </main>
{% endblock %}
