{% extends 'base.html.twig' %}

{% block title %}Wishes list - Bucket List{% endblock %}

{% block body %}
    <main>
        <h1 class="page-title">La liste des buckets de la bucket-list !</h1>

        <div class="wish-list">
            {% for wish in wishes %}
                <a href="{{ path('wish_detail', {'id': wish.id}) }}" class="wish-card-link">
                    <div class="wish-card">
                        {{ wish.title }}
                    </div>
                </a>
            {% else %}
                <p class="no-wish">Aucun souhait pour le moment.</p>
            {% endfor %}

            <!-- Exemple fixe -->
            <div class="wish-card" data-controller="hello" data-action="click->hello#rayer">
                Battre Camille à Skull King (répétable)
            </div>
        </div>
    </main>
{% endblock %}
